<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>
<p>今月の<%= @beginning_of_month %>から<%= @today %>までのコミット数ランキング</p>

<div class="ranking">
<% rank = 0 %>
<% class_rank = Hash.new("")
   class_rank[0] = " first-rank"
   class_rank[1] = " second-rank"
   class_rank[2] = " third-rank"
%>
<% @commit.each do |user| %>
    <div class="unit">
        <div class="rank<%= class_rank[rank] %>">
            <%= rank += 1 %>
        </div>
        <div class="user">
            <%= user.name %>
        </div>
        <div class="commit-count">
            <%= user.count %>
        </div>
    </div>
<% end %>
</div>